body
{
    background-color: midnightblue;
    font-family: monospace;
    color: aquamarine;
}

ul
{
    list-style-type: square;
}

#navigation
{
    background-color: midnightblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto-fit);
    grid-template-rows: repeat(auto-fit, auto-fit);
}
#navigation nav a
{
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    color: aqua;
}
#navigation nav a:hover
{
    color: aquamarine;
    font-size: large;
}
#navigation nav a:visited
{
    background-color: darkseagreen;
    color: cornflowerblue;
}
#navigation nav a:active
{
    color: blue;
}

a
{
    text-decoration: underline;
    color: aqua;
}
a:hover
{
    color: aquamarine;
    font-size: large;
}
a:visited
{
    color: cornflowerblue;
}
a:active
{
    color: blue;
}

hr
{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, midnightblue, cornflowerblue, midnightblue);
    background-image: -moz-linear-gradient(left, midnightblue, cornflowerblue, midnightblue);
    background-image: -ms-linear-gradient(left, midnightblue, cornflowerblue, midnightblue);
    background-image: -o-linear-gradient(left, midnightblue, cornflowerblue, midnightblue); 
}

#pageTitle
{
    font-style: oblique;
    font-size: xx-large;
    color: royalblue;
    text-align: center;
}

.segmentTitle
{
    font-style: oblique;
    font-size: x-large;
    color: mediumspringgreen;
    text-align: center;
}

.segment
{
    font-size: large;
}